*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Nunito ExtraLight";
    src: url("https://diegod1.github.io/diegod1/fonts/NunitoSans-ExtraLight.ttf");
  }

@font-face {
    font-family: "Nunito bold";
    src: url("https://diegod1.github.io/diegod1/fonts/NunitoSans-Bold.ttf");
 }


html { 
    background-color: #fff;
    width: 100%; 
}

body{
    min-height: 100vh;
    /*
    height: 100%;*/
    width: 100%;
    padding: 1px;
    overflow: scroll;
}
.body-part {
    /*margin-top: 1px;*/
}

.decorator-movil{
    display: none;
}

.positions {
    position: fixed;
    top: 0;
    height: 600px;
    width: 100%;
    background-color: white;
    height: auto;
    z-index: 1;
}

.body-decorator {
    position: relative;
    width: 100%;
    z-index: -1;
}

.logo {
    height: 60px;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: 'Nunito ExtraLight','Courier New', Courier, monospace;
}

p {
    color: white;
    font-family: 'Nunito ExtraLight','Courier New', Courier, monospace;
}

.text-service p {
    color: black;
    font-family: 'Nunito ExtraLight','Courier New', Courier, monospace;
}


li {
    margin-top: 30px;
    margin-left:28px;
    margin-bottom: 30px;

}

.menu-services
{
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 250px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.menu-icon
{
    width: 50%;
}

li a {
    text-decoration: none;
    color: black;
}

footer{
    
    background-color: #1B7FA8;
    margin-bottom: 0% ;
}

.pixels-part
{
    height: 3px;
    width: 100%;
}

.card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: auto;
    padding: 3%;
}

.footer-main{
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 262px;
    margin-bottom: 0%;
}

.copyright-page{
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.footer-text{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 12pt;
    font-family: 'Nunito ExtraLight','Courier New', Courier, monospace;
}

.title-l
{   
    color: #fff;
    font-size: 45pt;
    font-family: 'Nunito Bold','Courier New', Courier, monospace;   
}

.title-text
{   
    position: absolute;
    top: 35%;
    left: 10%;  
}

.title-l p {
    color: #fff;
    font-family: 'Nunito Bold','Courier New', Courier, monospace;
    position: relative;
    top: -20px;
}
.text-services{
    color: #fff;
font-size: 20pt;
font-family: 'Nunito ExtraLight','Courier New', Courier, monospace;
}

@media (max-width: 1134px) {

    body
    {
        display: block;
    }

    .body-decorator {
        position: relative;
        width: 100%;
        top: -125px;
      }
    .decorator-movil{
        display: block;
    }
    .img-movil{
        top: 120px;
        width: 100%;
        padding: 10%;
    }
   .title-text
    {  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        left: 0%;   
    }
/*    .title-text
    {  
        top: -25px; 
        left: 0; 
        text-align: center;
    }
*/
    .text-services{

        color: rgb(255, 255, 255);
        font-size: 14pt;
        font-family: 'Nunito ExtraLight','Courier New', Courier, monospace;

    }
    .body-part
    {
        display: block;
        position: relative;
        top: 120px;
    }
    .menu-services{
        position: relative;
        top: -125px;
    }
    .footer-main{
        padding-top: 5px;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 0%;
        justify-content: center;
        text-align: center;
        /*background-color: #1B7FA8;*/
    }
}
@media (max-width: 966px) {
    .title-text
    {  
        position: relative;
        top: 120px;  
        color: #000;
    }

    .text-services{
        color: #000;
        font-size: 14pt;
        text-align: center;
    }
    .positions-movil .main-menu nav {
      display: none;
    }
    .body-part {
        display: block;
        position: relative;
        top: 120px;
        background-image: url(https://www.adtechsa.com/wp-content/uploads/2019/02/arduino-cuadros-bk.svg);

      }
    
    .title-l {
    color: #1b7fa8;
    font-size: 14pt;
    font-family: 'Nunito Bold','Courier New', Courier, monospace;
    text-align: center;
    }
    
    .title-l p {
        color: #1b7fa8;
        font-family: 'Nunito Bold','Courier New', Courier, monospace;
        position: relative;
        top: 0px;
        text-align: center;
        text-align: center;
    }

    .body-decorator {
        position: relative;
        width: 100%;
        top: 25px;
        z-index: -1;
      }
    .menu-services
    {
        display: flex;
        position: relative;
        margin-left: 0;
        margin-right: 0%;
        margin-top: 100px;
        margin-bottom: 150px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        top: 0px;
    }


    .card-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: auto;
    }
    .decorator-movil{
        top: 120px;
        position: relative;
        display: block;
        width: 100%;
    }
    .positions-movil{
        top: 121px;
        z-index: 7;;
    }
  }